*{
  background-color: rgb(234, 241, 244);
}

.userTable {
    // width: 100%;
    display: flex;
    flex-direction: column;
  
    th,
    td {
      border: solid #ddd;
      padding: 10px;
    }
  
    tr:hover {
      background-color: #eeeeee;
    }
  
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #212529;
      color: white;
    }
  }
  
  .header{
    text-align: center;
    justify-content: center;
  }


  
  .heading {
    margin-left: 10px;
  }
  
  @media (max-width: 768px) {
    .labelInfo {
      font-size: 14px;
    }
  
    .navbarcontainer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .selectbutton {
      padding: 2px;
    }
  }
  
  @media (max-width: 990px) {
    .navbarcontainer {
      width: 100%;
      align-items: center;
    }
  }
  
  
  .preloader {
    margin-top: 20%;
  }
  
  @media (max-width: 700px) {
    .preloader {
      margin-top: 40%;
    }
  }